<h2>Uploads</h2>
<div class="col-lg-12">
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="file">Choose File</label>
            <input multiple type="file" class="form-control" id="files" accept=".csv,.xml"
                (change)="onChange($event)">
        </div>
        <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                uploads
            </button>
        </div>
    </form>
</div>
<div class="col-lg-12">
    <h3>Upload History</h3>
    <ul>
        <li *ngFor="let item of uploadHistory">{{item}}</li>
    </ul>
</div>